@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monofett&family=Sniglet:wght@400;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

section {
  min-height: 100vh;
  width: 100%
}

.active {
  color: rgb(233, 245, 67)
}

@layer base {

  body {
    
    font-family: "Righteous", sans-serif;
  }
   h4 {
    font-family: "Monofett", monospace;
   }
}
